body{
	background: linear-gradient(to left, #0a97b0, #ffd3e1); 
	font: 600 'Raleway', sans-serif;
	cursor: default;
	margin: 1em;
}

.topnav{
	overflow: hidden;
}

.topnav h1 {
  float: left;
  color: #005086;
  text-align: center;
}

.navright {
  float: right;
  font-size: 1.5em;
  padding: 1em;
  padding-left: 2em;
}

.navright a {
	text-decoration: none;
	color: #005086;
	margin-left: 1em;
}

.navright a:hover{
	background-color: #ffe78f;
	border-style: solid;
	padding: 10px;
    box-shadow: 5px 10px;

}

.bold {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
	color: #005086;
}

.font{
	font-size: 1.2em;
}